<h2>All bookings</h2>

<table>
  <tr>
    <th>Customer</th>
    <th>Starts</th>
    <th>Ends</th>
    <th>Archived at</th>
    <th colspan="2">Actions</th>
  </tr>

  <%= render partial: 'booking', collection: @bookings %>

</table>
