<h2>All bookings</h2>

<%flash.each do |type,msg|%>
<div>
<%=msg%>
</div>
<%end%>
<table>
  <tr>
    <th>id</th>
    <th>Customer</th>
    <th>Starts</th>
    <th>Ends</th>

  </tr>

  <%= render partial: 'booking', collection: @bookings %>

</table>
