<h1>
  <table>
    <td> <%= @booking.customer.full_name %></td>
  <td>  <%= @booking.starts_on %></td>
    <td><%= @booking.ends_on %></td>
    <td><  <td><%= link_to 'goto', bookings_path%></td></td>
  </table>
</h1>