<table>
        <tr>
            <th>Customer Full Name</th>
            <th>Starts On</th>
            <th>Ends On</th>
        </tr>
         <td><%= link_to "index", bookings_path%></td>


</table>
