@mixin am-btn {
  background-color: transparent;
  border: 2px solid $gray-200;
  color: $primary;
  font-weight: $am-font-weight-semi-bold;
  padding-bottom: 10px;
  padding-top: 10px;
  text-transform: none;

  &:hover,
  &:focus,
  &:active {
    background: transparent;
    border-color: $primary;
    box-shadow: none;
    color: $primary;
  }

  &:link:hover {
    text-decoration: none;
  }
}

@mixin am-btn-raised {
  background: $primary;
  border-color: transparent;
  color: $white;
  font-weight: $am-font-weight-semi-bold;
  text-transform: none;

  &:focus,
  &:hover,
  &:active {
    background: $primary-light;
    border-color: transparent;
    color: $white;
  }
}

@mixin am-btn-danger {
  color: $danger;

  &:hover {
    border-color: $danger;
    color: $danger;
  }
}

@mixin am-paper {
  border-radius: $radius-lg;
  box-shadow: none;
}

@mixin am-select-input {
  border-radius: $m-sm;
}

@mixin am-textfield-input {
  border-radius: $m-sm;
}

@mixin am-multiselect {
  border-radius: $m-sm;
}

@mixin am-textfield-input-inline {
  width: 100%;
}


@mixin am-subheader {
  @include am-font-size(16);
}