$breakpoints:        (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, 2xl: 1600px);

$m:                  16px;
$m-xs:               4px;
$m-sm:               8px;
$m-md:               24px;
$m-lg:               32px;
$m-xl:               40px;

$primary:            #009688;
$primary-light:      #00c9b6;
$danger:             #C91914;

$black:              #000000;
$white:              #ffffff;
$gray-100:           #eeeeee;
$gray-200:           #757575;

$radius:             2px;
