$breakpoints:        (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, 2xl: 1600px);

$m:                  16px;
$m-xs:               4px;
$m-sm:               8px;
$m-md:               24px;
$m-lg:               32px;
$m-xl:               40px;

$primary:            #1BA165;
$primary-light:      #23cd80;
$danger:             #C91914;

$white:              #ffffff;
$gray-100:           #eeeeee;
$gray-200:           #D6D6D6;
$gray-300:           #757575;

$radius:             $m-sm;
$radius-lg:          $m;

//-----OVERRIDE ACTIVE_MATERIAL-----------------------------------------------------------------------------------------

//Colors
$am-theme-primary:                $primary;
$am-theme-accent:                 $primary-light;
$am-theme-error:                  $danger;

//Buttons
$am-btn-border-radius:            $radius;
$am-btn-padding:                  ($m-md/2) $m;
