<p>Cześć <%= @booking.customer.full_name %>,</p>
<p>Dziękujemy za dokonanie rezerwacji, poniżej znajdują się szczegóły: </p>

<p><%= "(#{@booking.starts_on} - #{@booking.ends_on})" %></p>

<ul>
  <% @booking.items.each do |item| %>
    <li>
      <%= item.name %>
    </li>
  <% end %>
</ul>

<p>Jeżeli jednak chciałbyś zrezygnować, skorzystaj z linku poniżej: </p>

<<<<<<< HEAD

<a href="<%= booking_url(@booking) %>">Anuluj rezerwacje</a>
=======
<a href="#" target="_blank">Anuluj rezerwacje</a>
>>>>>>> aadcb3c766d512b0f3d592c80c5381c25a08f4eb
