// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "base/variables";

@import "active_admin/mixins";
@import "active_material";

@import "base/mixins";
@import "active_material/components/buttons";

@import "layouts/buttons";
@import "layouts/comment";
@import "layouts/layout";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

#search_status_sidebar_section .panel_contents {
  padding: 16px;
}

.scope.selected a {
  padding: 5px 10px;
  color: white;
}

.blank_slate_container h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: $primary;
}