@import "base/variables";
@import "base/mixins";
@import "layouts/*";

a {
  color: #00c9b6;
  text-decoration: none;
  text-transform: uppercase;
}

th {
  font-size: larger;
  text-transform: uppercase;
}

td,
th {
  text-align: center;
  padding: 4px 8px;
  border-bottom: #00c9b6 solid 1px;
}

img {
  width: 100%;
  height: auto;
}

.item-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.padding-wrapper {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  .heading--centered {
    text-align: center;
  }
  > div {
    padding: 0.5rem 0;
  }
}
